<main class="page">
  <div class="container">
    <h2 class="section-ttl">Фильтры</h2>
    <div class="filterArea">
      <mat-form-field appearance="fill">
        <mat-label>Любимые категории</mat-label>
        <mat-select [(ngModel)]="selectedValue" name="category">
          <mat-option *ngFor="let category of categories" [value]="category">
            {{ category }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Название фильма</mat-label>
        <input
          type="text"
          matInput
          placeholder="Искать по названию фильма"
          [(ngModel)]="search"
        />
      </mat-form-field>
    </div>

    <h2 *ngIf="error; else moviesBlock"  class="section-ttl error">{{error}}</h2>

    <ng-template #moviesBlock>
      <ng-container *ngIf="movies; else loading">
        <ng-container *ngIf="(movies | filter:search:(selectedValue === 'Все' ? categories : [selectedValue!]))?.length">
          <h2 class="section-ttl">Популярные фильмы</h2>
          <div class="movies-list">
            <app-movie
              *ngFor="let movie of movies | filter : search : (selectedValue === 'Все' ? categories : [selectedValue!])"
              [movie]="movie"
            ></app-movie>
          </div>
        </ng-container>
        <ng-container *ngIf="
          search.length &&
          !(movies | filter:search:(selectedValue === 'Все' ? categories : [selectedValue!]))?.length &&
          movies.length !== 0">
          <h2 class="section-ttl">Нет совпадений поиска</h2>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="bestMovie">
        <h2 class="section-ttl">Самый лучший фильм</h2>
        <div class="movies-list">
          <app-movie class="favorite" [movie]="bestMovie"></app-movie>
        </div>
      </ng-container>
    </ng-template>
  </div>
</main>

<ng-template #loading>
  <mat-spinner [diameter]="50"></mat-spinner>
</ng-template>
